<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Override default data folder; overridden again by init.ini key: PATH DATA -->
        <add key="DataPath" value="D:\Programming\Sanding\Painting\proj_test\DATI TERMINALE\" />
		<!--add key="DataPath" value="D:\Dati" /> -->
    </appSettings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
